div.entry form#cnCategorySelect {margin-bottom: 10px; text-align: right;}
div.connections-list a.cn-index-head { float: left; }
div.vcard div.cn-entry h4 { margin: 0; }
div.vcard div.cn-entry p { margin: 0 0 10px; }