form#cn-search { margin: 0 0 10px; text-align: right; }
form#cn-cat-select { margin: 0 0 10px; text-align: right; }
div#cn-clr-search { -moz-border-radius: 5px 5px 5px 5px;
					background-color: #FFFFFF;
					border: 1px solid #D3D3D3;
					font-weight: bolder;
					margin: 0 0 10px;
					padding: 3px 6px;
					text-align: center;
					text-decoration: none; }
div#cn-clr-search a { color: #FF0000; }

div.connections-list { clear: both; }
div.connections-list a.cn-index-head { float: left; }

div.vcard div.cn-entry { -moz-border-radius:4px;
						 background-color: #FFFFFF;
						 border:1px solid #D3D3D3;
						 margin:8px 0px;
						 padding: 12px 12px 7px;
						 position: relative;
						}