span#cn-search-label { display:block; font-size: 14px; margin: 10px 0 6px; text-align: left; }
form#cn-search { margin: 0 0 10px; text-align: left; }
span#cn-select-label { display:block; font-size: 14px; margin: 10px 0 6px; text-align: left; }
form#cn-cat-select { margin: 0 0 10px; text-align: left; }

div.connections-list { margin: 16px 0 0; }
div.connections-list hr { background-color: #CACACA; border: thin solid #CACACA; color: #CACACA; height: 1px; margin: 10px auto; width: 400px; }

div.connections-list td { vertical-align: top; }
table.cn-entry { font-size: 12px; margin: 8px 0 0; width: 100%; }
table td.cn-photo { width: 160px; }
table td.cn-info { padding: 0 0 0 10px; }
table.cn-entry span.cn-name { color: #26593A; font-size: 14px; font-weight: bold; }